.crop {
  position: absolute;
  padding-right: 50px;
  padding-bottom: 50px;
  border: 1px solid #2196f3;
  cursor: default
}

.crop:hover {
  cursor: move
}

.crop-top-left {
  position: absolute;
  left: -5px;
  top: -5px;
  width: 10px;
  height: 10px;
  background-color: rgba( 33, 150, 243, 0.5);
}

.crop-top-center {
  position: absolute;
  left: 50%;
  top: -4px;
  width: 8px;
  height: 8px;
  margin-left: -4px;
  background-color: rgba( 33, 150, 243, 0.5);
}

.crop-top-right {
  position: absolute;
  right: -5px;
  top: -5px;
  width: 10px;
  height: 10px;
  background-color: rgba( 33, 150, 243, 0.5);
}

.crop-center-left {
  position: absolute;
  left: -5px;
  top: 50%;
  margin-top: -4px;
  width: 8px;
  height: 8px;
  background-color: rgba( 33, 150, 243, 0.5);
  cursor: default;
}

.crop-center-left:hover {
  cursor: ew-resize;
}

.crop-centet-right {
  position: absolute;
  right: -5px;
  top: 50%;
  margin-top: -4px;
  width: 8px;
  height: 8px;
  background-color: rgba( 33, 150, 243, 0.5);
  cursor: default;
}

.crop-centet-right:hover {
  cursor: ew-resize;
}

.crop-bottom-left {
  position: absolute;
  left: -10px;
  bottom: -10px;
  width: 20px;
  height: 20px;
  background-color: rgba( 33, 150, 243, 0.5);
  cursor: default;
}

.crop-bottom-left:hover {
  cursor: nesw-resize
}

.crop-bottom-center {
  position: absolute;
  left: 50%;
  bottom: -4px;
  width: 8px;
  height: 8px;
  margin-left: -4px;
  background-color: rgba( 33, 150, 243, 0.5);
  cursor: default;
}

.crop-bottom-center:hover {
  cursor: ns-resize
}

.crop-bottom-right {
  position: absolute;
  right: -10px;
  bottom: -10px;
  width: 20px;
  height: 20px;
  background-color: rgba( 33, 150, 243, 0.5);
  cursor: default;
}

.crop-bottom-right:hover {
  cursor: nwse-resize;
}